{% load static i18n %}

<script src="{% get_static_prefix %}js/underscore.js"></script>
<script type="text/template" id="tpl_file">
    <li class="span3">
        <div class="thumbnail">
            <a href="<%= s3_file_url %>" data-toggle="tooltip" title="<%= file_name %>" target="_blank">
                <img src="<%= thumbnail_url %>">
            </a>

            <div class="caption">
                <input name="file_id" type="checkbox" value="<%= file_id %>">

                <p><i class="icon-file"></i> <%= file_name %></p>

                <p><i class="icon-info-sign"></i> <%= file_size %></p>

                <p><i class="icon-time"></i> <%= created %></p>
            </div>
        </div>
    </li>
</script>
<!-- load jquery.cookie.js for csrf_token upload -->
<script src="{% get_static_prefix %}js/jquery.cookie.js"></script>
<!-- Load plupload and all it's runtimes -->
<script type="text/javascript" src="{% get_static_prefix %}js/plupload/plupload.full.js"></script>

<script type="text/javascript">
    $(function () {
        var total_file_count = TOTAL_FILE_COUNT;
        var last_size = 0;

        var uploader = new plupload.Uploader({
            runtimes: "gears,html5,flash,silverlight,browserplus",
            browse_button: "add_files",
            drop_element: "drop_files_div",
            max_file_size: "15mb",
            url: "{% url "file_upload" %}",
            flash_swf_url: "{% get_static_prefix %}js/plupload/plupload.flash.swf",
            silverlight_xap_url: "{% get_static_prefix %}js/plupload/plupload.silverlight.xap",
            filters: [
                {title: "Image files", extensions: "jpg,gif,png"}
            ],
            headers: {
                "ACCEPT": "application/json",
                "X-CSRFToken": $.cookie("csrftoken")
            }
        });

        uploader.init();

        uploader.bind("FilesAdded", function (up, files) {
            up.start();
            up.refresh(); // Reposition Flash/Silverlight
            $("#file_upload_progress").show();
        });

        uploader.bind("Error", function (up, err) {
            alert(err.message);
            up.refresh(); // Reposition Flash/Silverlight
        });

        uploader.bind("FileUploaded", function (up, file, response) {
            var p = (up.total.loaded - last_size) / (up.total.size - last_size) * 100;
            $("#file_upload_progress").find("div.bar").attr("style", "width: " + p + "%;");
            var obj = $.parseJSON(response.response);
            var file_html = _.template($("#tpl_file").html(), obj);
            $("#file_list").prepend(file_html);
            total_file_count = total_file_count + 1;
            $("#total_file_count").html(total_file_count);
        });

        uploader.bind("UploadComplete", function (up, file) {
            last_size = up.total.size;
            $("#file_upload_progress").hide();
            $("#file_upload_progress").find("div.bar").attr("style", "width: 0%;");
        });

        $("#select_all_files").click(function () {
            $("input[name=file_id]").attr("checked", true);
        });

        $("#select_none_file").click(function () {
            $("input[name=file_id]").attr("checked", false);
        });

        $("#delete_selected_files").click(function () {
            if (confirm("Are you sure to delete all selected files?")) {
                $("#delete_files_form").submit();
            }
        });

        $(".thumbnail").tooltip({
            selector: "a[data-toggle=tooltip]"
        });

    });
</script>